[submodule "janus/powerline"]
  path = janus/powerline
  url = https://github.com/Lokaltog/vim-powerline.git
[submodule "janus/surround"]
  path = janus/surround
  url = https://github.com/tpope/vim-surround.git
[submodule "janus/vim-less"]
	path = janus/vim-less
	url = https://github.com/groenewege/vim-less.git
